In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Importing DataSet and take a look at Data
data = pd.read_csv("boston_train.csv")

In [3]:
data.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       333 non-null    int64
 1   crim     333 non-null    float64
 2   zn       333 non-null    float64
 3   indus    333 non-null    float64
 4   chas     333 non-null    int64
 5   nox      333 non-null    float64
 6   rm       333 non-null    float64
 7   age      333 non-null    float64
 8   dis      333 non-null    float64
 9   rad      333 non-null    int64
 10  tax      333 non-null    int64
 11  ptratio  333 non-null    float64
 12  black    333 non-null    float64
 13  lstat    333 non-null    float64
 14  medv     333 non-null    float64
dtypes: float64(11), int64(4)
memory usage: 39.1 KB

In [5]:
data.describe()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000
mean,250.951952,3.360341,10.689189,11.293483,0.060060,0.557144,6.265619,68.226426,3.709934,9.633634,409.279279,18.448048,359.466096,12.515435,22.768769
std,147.859438,7.352272,22.674762,6.998123,0.237956,0.114955,0.703952,28.133344,1.981123,8.742174,170.841988,2.151821,86.584567,7.067781,9.173468
min,1.000000,0.006320,0.000000,0.740000,0.000000,0.385000,3.561000,6.000000,1.129600,1.000000,188.000000,12.600000,3.500000,1.730000,5.000000
25%,123.000000,0.078960,0.000000,5.130000,0.000000,0.453000,5.884000,45.400000,2.122400,4.000000,279.000000,17.400000,376.730000,7.180000,17.400000
50%,244.000000,0.261690,0.000000,9.900000,0.000000,0.538000,6.202000,76.700000,3.092300,5.000000,330.000000,19.000000,392.050000,10.970000,21.600000
75%,377.000000,3.678220,12.500000,18.100000,0.000000,0.631000,6.595000,93.800000,5.116700,24.000000,666.000000,20.200000,396.240000,16.420000,25.000000
max,506.000000,73.534100,100.000000,27.740000,1.000000,0.871000,8.725000,100.000000,10.710300,24.000000,711.000000,21.200000,396.900000,37.970000,50.000000

In [6]:
#ID columns does not relevant for our analysis.
data.drop('ID', axis = 1, inplace=True)

In [7]:
data.corr()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
crim,1.000000,-0.210913,0.422228,-0.041195,0.463001,-0.310180,0.379034,-0.397067,0.666636,0.617081,0.313409,-0.475796,0.532077,-0.407454
zn,-0.210913,1.000000,-0.518679,-0.024442,-0.501990,0.328197,-0.544513,0.637142,-0.303663,-0.311180,-0.380449,0.168130,-0.388112,0.344842
indus,0.422228,-0.518679,1.000000,0.037496,0.750087,-0.440365,0.638378,-0.702327,0.569779,0.708313,0.391087,-0.335049,0.614155,-0.473932
chas,-0.041195,-0.024442,0.037496,1.000000,0.080275,0.112251,0.068286,-0.081834,0.007714,-0.021826,-0.125067,0.062029,-0.050055,0.204390
nox,0.463001,-0.501990,0.750087,0.080275,1.000000,-0.338515,0.736000,-0.769364,0.612180,0.670722,0.192513,-0.369416,0.598874,-0.413054
rm,-0.310180,0.328197,-0.440365,0.112251,-0.338515,1.000000,-0.248573,0.269191,-0.272783,-0.356987,-0.366927,0.155202,-0.615747,0.689598
age,0.379034,-0.544513,0.638378,0.068286,0.736000,-0.248573,1.000000,-0.764208,0.447380,0.511893,0.259293,-0.268054,0.588834,-0.358888
dis,-0.397067,0.637142,-0.702327,-0.081834,-0.769364,0.269191,-0.764208,1.000000,-0.477610,-0.529539,-0.231101,0.284374,-0.505939,0.249422
rad,0.666636,-0.303663,0.569779,0.007714,0.612180,-0.272783,0.447380,-0.477610,1.000000,0.903562,0.470849,-0.406405,0.484568,-0.352251
tax,0.617081,-0.311180,0.708313,-0.021826,0.670722,-0.356987,0.511893,-0.529539,0.903562,1.000000,0.467437,-0.406477,0.544485,-0.448078
ptratio,0.313409,-0.380449,0.391087,-0.125067,0.192513,-0.366927,0.259293,-0.231101,0.470849,0.467437,1.000000,-0.164614,0.374802,-0.481376
black,-0.475796,0.168130,-0.335049,0.062029,-0.369416,0.155202,-0.268054,0.284374,-0.406405,-0.406477,-0.164614,1.000000,-0.356693,0.336660
lstat,0.532077,-0.388112,0.614155,-0.050055,0.598874,-0.615747,0.588834,-0.505939,0.484568,0.544485,0.374802,-0.356693,1.000000,-0.738600
medv,-0.407454,0.344842,-0.473932,0.204390,-0.413054,0.689598,-0.358888,0.249422,-0.352251,-0.448078,-0.481376,0.336660,-0.738600,1.000000

In [8]:
X = data[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'black', 'lstat']]
y = data['medv']

In [9]:
columns_X = ['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'black', 'lstat']
columns_y = ['medv']

In [10]:
X

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
4,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,0.17783,0.0,9.69,0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10
329,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
330,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
331,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
332,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [11]:
y

0      24.0
1      21.6
2      33.4
3      36.2
4      22.9
       ...
328    17.5
329    22.4
330    20.6
331    23.9
332    11.9
Name: medv, Length: 333, dtype: float64

In [55]:
import random

def train_test_split(X, y, test_size=0.2, random_state = 42):
    
    
    X=X.values
    y=y
    # Calculate the number of items to be used for testing.
    num_test = int(len(X) * test_size)

    # Shuffle the X.
    random.seed(random_state)
    random.shuffle(X)
    random.shuffle(y)

    # Split the X into training and testing sets.
    X_train_arr = X[:-num_test]
    X_test_arr = X[-num_test:]
    
    X_train = pd.DataFrame(X_train_arr, columns=columns_X)
    X_test = pd.DataFrame(X_test_arr, columns=columns_X)

    # Split the X into training and testing sets.
    y_train = y[num_test:]
    y_test = y[:num_test]
    
    return X_train, X_test, y_train, y_test

In [56]:
# Split the data into training and testing sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

# Print the lengths of the training and testing sets.
print(len(X_train)) # Output: 80
print(len(X_test)) # Output: 20
print(len(y_train)) # Output: 80
print(len(y_test)) # Output: 20

267
66
267
66

In [57]:
X_train

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
2,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.08829,12.5,7.87,0.0,0.524,6.012,66.6,5.5605,5.0,311.0,15.2,395.60,12.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,0.25915,0.0,21.89,0.0,0.624,5.693,96.0,1.7883,4.0,437.0,21.2,392.11,17.19
263,0.02055,85.0,0.74,0.0,0.410,6.383,35.7,9.1876,2.0,313.0,17.3,396.90,5.77
264,0.02187,60.0,2.93,0.0,0.401,6.800,9.9,6.2196,1.0,265.0,15.6,393.37,5.03
265,1.42502,0.0,19.58,0.0,0.871,6.510,100.0,1.7659,5.0,403.0,14.7,364.31,7.39
266,0.54050,20.0,3.97,0.0,0.575,7.470,52.6,2.8720,5.0,264.0,13.0,390.30,3.16

In [58]:
y_train

66     18.7
67     22.2
68     13.5
69     20.8
70     19.3
       ...
328    50.0
329    13.5
330    14.4
331    17.8
332     8.3
Name: medv, Length: 267, dtype: float64

In [59]:
import numpy as np

class StandardScaler:
    def __init__(self):
        self.mean = None
        self.std = None
    
    def fit(self, X):
        self.mean = np.mean(X, axis=0)
        self.std = np.std(X, axis=0)
    
    def transform(self, X):
        X_scaled = ((X - self.mean) / self.std).values
        return X_scaled
    
    def fit_transform(self, X):
        self.fit(X)
        X_scaled = self.transform(X)
        return X_scaled

In [60]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [61]:
X_train_scaled = pd.DataFrame(X_train,columns = columns_X)
X_test_scaled = pd.DataFrame(X_test,columns = columns_X)

In [62]:
X_train_scaled.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,-0.585069,0.229537,-0.989572,-0.207289,0.392522,0.370715,0.105070,-0.278488,-1.589535,-0.070730,-1.291638,0.401378,-1.025002
1,-0.585069,0.229537,-0.989572,-0.207289,0.392522,0.370715,0.105070,-0.278488,-1.589535,-0.070730,-1.291638,0.401378,-1.025002
2,-0.551786,-0.534420,-0.145710,-0.207289,-0.403041,0.102974,0.616971,0.206022,-1.076968,-0.835181,-0.128432,0.401378,-0.237730
3,-0.543763,-0.534420,-1.012619,-0.207289,-0.529870,1.106136,-0.619812,0.810956,-0.564400,-1.118312,0.290322,0.335623,-1.411068
4,-0.455094,-0.003894,-0.003884,-0.207289,0.231103,-0.608107,0.157381,0.533817,0.460735,0.141618,-1.338166,0.363721,0.384897

In [63]:
X_test_scaled.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,-0.490166,2.173607,-1.257066,3.492850,-1.082946,2.100898,-1.126736,0.998806,-0.891683,-1.109942,-1.918752,0.432406,-1.131492
1,-0.468879,-0.622241,2.318932,-0.286299,0.470433,-0.705559,1.054711,-1.081649,-0.751894,-1.179104,0.499675,0.235157,1.002344
2,-0.436833,-0.000941,-0.946873,-0.286299,-0.721354,0.511717,-0.889692,0.021434,-0.332528,-0.985451,-1.347124,0.448023,-0.887336
3,-0.486350,0.620358,-1.251214,-0.286299,-0.841309,0.693379,-0.816016,2.591205,-0.891683,-0.162425,0.763503,0.368241,-0.737086
4,-0.488779,2.328932,-1.041980,-0.286299,-0.952634,2.259673,-0.899302,0.578672,-0.472317,-0.930122,-1.435067,0.376162,-1.171944

In [64]:
X_train.shape

(267, 13)

In [65]:
y_train.shape

(267,)

In [66]:
X_test.shape

(66, 13)

In [67]:
y_test.shape

(66,)

In [68]:
#y_train = y_train.values

In [69]:
import numpy as np

class LassoRegression:
    def __init__(self, alpha, max_iter=1000, tol=1e-4):
        self.alpha = alpha
        self.max_iter = max_iter
        self.tol = tol
        self.coef_ = None
        self.intercept_ = None
    
    def fit(self, X, y):
        m, n = X.shape
        theta = np.zeros(n)
        self.intercept_ = np.mean(y)
        X_centered = X - np.mean(X, axis=0)
        for iteration in range(self.max_iter):
            old_theta = theta.copy()
            for j in range(n):
                X_j = X_centered[:, j]
                y_pred = X_centered.dot(theta) + self.intercept_
                r = y - y_pred + theta[j] * X_j
                z = X_j.dot(X_j)
                if z == 0:
                    theta[j] = 0
                else:
                    theta[j] = np.sign(np.sum(X_j*r)) * max(0, np.abs(np.sum(X_j*r)) - self.alpha) / z
            self.intercept_ = np.mean(y - X_centered.dot(theta))
            if np.sum(np.abs(theta - old_theta)) < self.tol:
                break
        self.coef_ = theta
    
    def predict(self, X):
        return X.dot(self.coef_) + self.intercept_

In [82]:
# Fit the Lasso regression model
lasso = LassoRegression(alpha=0.01)
lasso.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = lasso.predict(X_test)

In [83]:
y_pred.shape

(66,)

In [84]:
y_test.shape

(66,)

In [85]:
import numpy as np

def mean_squared_error(y_test, y_pred):
    mse = np.mean((y_test - y_pred) ** 2)
    return mse

In [86]:
mse = mean_squared_error(y_test, y_pred)
print("Mean squared error:", mse)

Mean squared error: 83.1529576553617

In [87]:
import numpy as np

def r2_score(y_test, y_pred):
    sse = np.sum((y_test - y_pred) ** 2)
    sst = np.sum((y_test - np.mean(y_test)) ** 2)
    r2 = 1 - sse / sst
    return r2

In [88]:
r2 = r2_score(y_test, y_pred)
print("R-squared:", r2*100)

R-squared: -2.0393870437556805

In [89]:
import numpy as np

def adjusted_r2_score(y_test, y_pred, n_features):
    sse = np.sum((y_test - y_pred) ** 2)
    sst = np.sum((y_test - np.mean(y_test)) ** 2)
    r2 = 1 - sse / sst
    adj_r2 = 1 - ((1 - r2) * (len(y_test) - 1)) / (len(y_test) - n_features - 1)
    return adj_r2

In [90]:
n_features = 1
adj_r2 = adjusted_r2_score(y_test, y_pred, n_features)
print("Adjusted R-squared:", adj_r2)

Adjusted R-squared: -0.03633752466314366

In [91]:
import numpy as np

def mean_absolute_error(y_test, y_pred):
    mae = np.mean(np.abs(y_test - y_pred))
    return mae

In [92]:
mae = mean_absolute_error(y_test, y_pred)
print("Mean absolute error:", mae)

Mean absolute error: 7.1100417780549385

In [93]:
import numpy as np

def root_mean_squared_error(y_test, y_pred):
    mse = np.mean((y_test - y_pred) ** 2)
    rmse = np.sqrt(mse)
    return rmse

In [94]:
rmse = root_mean_squared_error(y_test, y_pred)
print("Root mean squared error:", rmse)

Root mean squared error: 9.118824357084728